# Lab03 - pandas
#### Name: Matt McLaughlin 
#### Class: CSCI 349 - Intro to Data Mining 
#### Semester: 2020SP 
#### Instructor: Brian King

In [1]:
import sys
import numpy as np
import pandas as pd

### 1) [P] Report the Python, Numpy and Pandas version numbers.

In [2]:
print("Python version: " + str(sys.version))
print("NumPy version: " + str(np.__version__))
print("Pandas version: " + str(pd.__version__))

Python version: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
NumPy version: 1.17.4
Pandas version: 0.25.3

### 2) [P] Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 0.25.3
numpy            : 1.17.4
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 19.3.1
setuptools       : 44.0.0.post20200106
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.10.3
IPython          : 7.11.1
pandas_datareader: None
bs4              : None
bottleneck       : None
fastparquet      : None
gcsfs            : None
lxml.etree       : None
matplotlib       : 3.1.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.3.2
sqlalchemy       : None
tables           : None
xarray           : None
xlrd             : None
xlwt             : None
xlsxwriter       : None

#### It is showing the versions of its dependecies. https://stackoverflow.com/questions/20612645/how-to-find-the-installed-pandas-version

### 3) [M] Explain the relationship between numpy and pandas. How are they tied together? How are they different?
### What core functionality does pandas add to numpy?

##### https://blog.thedataincubator.com/2018/02/numpy-and-pandas/
##### "Pandas is built on top of NumPy, relying on ndarray and its fast and efficient array based mathematical functions... Pandas relies on NumPy data types for the entries in the DataFrame."
##### "Pandas was built to ease data analysis and manipulation."

### 4) [M] Compare and contrast Series and DataFrame.

##### https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html
##### "Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.)"
##### "DataFrame is a 2-dimensional labeled data structure with columns of potentially different types."
##### Each column of a DataFrame is a Series object, in this way DataFrames can be of different  datatypes. -  https://blog.thedataincubator.com/2018/02/numpy-and-pandas/

### 5) [M] What are the data types that can be used to create a Series object in pandas?

##### Any data type can be used to create a Series object.

### 6) [M] What are the data structures that can be used to create a DataFrame object in pandas?

##### "Dict of 1D ndarrays, lists, dicts, or Series
##### 2-D numpy.ndarray
##### Structured or record ndarray
##### A Series
##### Another DataFrame"
##### https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html

### 7) [M] In the user guide, when creating a Series, the What role does the index parameter play when creating a Series object? Does the index always need to be specified? If not, what happens?

##### The index parameter is a list of axis labels. The index does not always need to be specified. If it isn't the data will be arranged according to it's insertion order or lexically, depending on version.

### We're going to work with a very simple set of data, just to get you started. Enter the following Python lists in a cell in your notebook. They will represent some fictitious daily quiz scores for a couple of weeks of some course you are taking:
#### days = ["Mon","Tue","Wed","Thu","Fri"]
#### scores_1 = [9.5, 8.75, 8, 10, 7.75]
#### scores_2 = [9, 8, 10, 8.75, 7.25]

In [4]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

### 8) [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables.

In [5]:
scores_1 = pd.Series(scores_1, index=days, name='week_1')
scores_2 = pd.Series(scores_2, index=days, name='week_2')

### 9) [P] Create a pandas DataFrame called scores, that represents the above data. Show your data frame. Your results should be arranged as shown below. You don't have the right answer until you can have the last line of your data from be scores, with a nicely formatted data frame rendered in your notebook.

In [6]:
d = {'week_1' : scores_1, 'week_2' : scores_2}
scores = pd.DataFrame(d)
scores = scores.T
scores

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

### 10) [P] Append the following data to the end of scores. [8.5,8,9.75,9,6]. The row label on the new week is "week_3". Show your updated data frame.

In [7]:
temp = pd.Series([8.5, 8, 9.75, 9, 6], index=days, name='week_3')

scores = scores.append(temp)
scores

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  6.00

### 11) [M] numpy and pandas have an ENORMOUS number of ways for selecting data. At first, the flexibility will confuse and drive you nuts. In time, it because amazing and intuitive (with less nuts.)
### From their 10 minute tutorial:
## .at .iat .loc .iloc
### Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame.

<ul> <li>loc - label based group lookup</li>
<li>at - label based single value lookup</li>
<li>iloc - integer based group lookup</li>
<li>iat - integer based single value lookup</li></ul>

### 12) [P] Show at least two different techniques to select scores for Tuesday using the string "Tue"

In [27]:
#Technique 1:
scores["Tue"]

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

In [28]:
#Technique 2:
scores.loc[:, "Tue"]

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

In [29]:
#Technique 3
boolArr = (scores.columns == "Tue")
scores.loc[:, boolArr]

         Tue
week_1  8.75
week_2  8.00
week_3  8.00

### 13) [P] Show how to retrieve the scores for Tuesday using the named attribute Tue

In [9]:
scores.Tue

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

### 14) [P] Show at least three techniques to select scores for Wednesday using an integer. The return type can be either a DataFrame or a Series.

In [30]:
#Technique 1
scores.iloc[:,2]

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

In [31]:
#Technique 2
scores[days[2]]

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

In [33]:
#Technique 3 - 
boolArr2 = (scores.columns == days[2])
scores.loc[:, boolArr2]

          Wed
week_1   8.00
week_2  10.00
week_3   9.75

### 15) [P] Select the data for the first week using the string "week_1". Your result should return a Series representing the scores for week 1.

In [35]:
scores.loc["week_1"]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

In [36]:
type(scores.loc["week_1"])

pandas.core.series.Series

### 16) [P] Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scores DataFrame for week 1 only.

In [39]:
scores.loc[["week_1"]]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

In [40]:
type(scores.loc[["week_1"]])

pandas.core.frame.DataFrame

### 17) [P] Select the data for the first week using a slice (HINT: 0:1)

In [41]:
scores.iloc[0:1,:]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

### 18) [P] Show at least two techniques to select the data for the second week using an integer

In [42]:
#Technique 1
scores.iloc[1:2,:]

        Mon  Tue   Wed   Thu   Fri
week_2  9.0  8.0  10.0  8.75  7.25

In [43]:
#Technique 2
scores.iloc[1,:]

Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64

### 19) [P] Select Monday and Friday of the first and third week.

In [15]:
scores.iloc[ [0,2], [0,4] ]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  6.00

### 20) [P] Report the mean for each week

In [16]:
scores.mean(axis=1)

week_1    8.80
week_2    8.60
week_3    8.25
dtype: float64

### 21) [P] For each week, report how much each day's score for that week differed from the mean for the week

In [17]:
scores.sub(scores.mean(axis=1),axis=0) #Prof King's answer

         Mon   Tue  Wed   Thu   Fri
week_1  0.70 -0.05 -0.8  1.20 -1.05
week_2  0.40 -0.60  1.4  0.15 -1.35
week_3  0.25 -0.25  1.5  0.75 -2.25

### 22) [P] Report the maximum score for each week

In [18]:
scores.max(axis=1)
#returns a Series object

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

### 23) [P] For each week, report which day had the largest score

In [19]:
#It took me FOREVER to find this function.
scores.idxmax(1)

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

### 24) [P] Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [20]:
(scores.sum(1) == scores.sum(1).max()).idxmax(axis=1)

'week_1'

### 25) [P] Report the number of days of each week that had a score >= 9.25. Your answer should be a Series that looks like the following:

In [21]:
scores[scores >= 9.25].notna().sum(1)

week_1    2
week_2    1
week_3    1
dtype: int64

### 26) [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [22]:
scores_rescaled = scores * 10
scores_rescaled

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  60.0